{% extends 'base.html' %}
{% load staticfiles %}

{% block body_id %}id_index{% endblock body_id %}

{% block extrastyles %}<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="jumbotron">
			  <h2>Bienvenue sur CASIR Messenger</h2>
			  <h3>CASIR Messenger, la messagerie éphémère !</h3>
			  <p><a class="btn btn-primary btn-lg" href="#TODO" role="button">Comment ça marche ?</a></p>
			</div>
		</div>
		<div class="col-lg-offset-1 col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <form method='POST' action ="." >
                        {% csrf_token %}
                          {% for field in authentication_form %}
                            <div class="form-group {%  if field.errors %}has-error{% endif %}">
                                 {%  if field.errors %}
                                    <label class="control-label">{{ field.label }}: {%  for error in field.errors %}{{ error }} {% endfor %}</label>
                                {% endif %}
                                {{ field }}
                            </div>
                          {% endfor %}
                      <button type="submit" class="btn btn-primary btn-block btn-lg" name="login">Se connecter</button>
                    </form>
                </div>
            <div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Nouveau sur CASIR Messenger</h3>
                    <form method='POST' action ="" >
                        {% csrf_token %}
                          {% for field in registration_form %}
                            <div class="form-group {%  if field.errors %}has-error{% endif %}">
                                 {%  if field.errors %}
                                    <label class="control-label">{{ field.label }}: {%  for error in field.errors %}{{ error }} {% endfor %}</label>
                                {% endif %}
                                {{ field }}
                            </div>
                          {% endfor %}
                      <button type="submit" class="btn btn-primary btn-block btn-lg" name="register">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content %}